
<div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
  <%=image_tag("bestpeers.png") %>
  
    <h1 class="card-text">click here to view all students</h1>
    <a href="./students" class="btn btn-primary">click to view Students</a>
       <a href="/welcome/index2" class="btn btn-primary">Go somewhere</a>
       <a href="/welcome/index3" class="btn btn-primary">Go somewhere</a>
      
  </div>
  <div class="card-footer text-muted">
   
  </div>
</div>